#UPS01
KERNEL=="hiddev*", ATTRS{manufacturer}=="American Power Conversion", ATTRS{serial}=="SERIAL01", OWNER="root", SYMLINK+="usb/ups01"

#UPS02
KERNEL=="hiddev*", ATTRS{manufacturer}=="American Power Conversion", ATTRS{serial}=="SERIAL02", OWNER="root", SYMLINK+="usb/ups02"